<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/css/style.css" />
  <title><%= title %></title>
</head>
<body>
  <header>
    <h1>Issue Tracker</h1>
    <nav>
      <a href="/issues">Issues</a>
      <a href="/issues/new">New Issue</a>
    </nav>
  </header>
  <main>
    <%- body %>
  </main>
</body>
</html>
