<% layout('layout') -%>
<h2>Login</h2>
<% if (typeof error !== 'undefined') { %>
  <p style="color:red"><%= error %></p>
<% } %>
<form method="post" action="/login">
  <label>Username <input name="username"/></label>
  <label>Password <input type="password" name="password"/></label>
  <button type="submit">Login</button>
</form>
<a href="/register">Register</a>
