<% layout('layout') -%>
<h2>Register</h2>
<form method="post" action="/register">
  <label>Username <input name="username"/></label>
  <label>Password <input type="password" name="password"/></label>
  <button type="submit">Create</button>
</form>
<a href="/login">Login</a>
